<!DOCTYPE html>
<html>
<title>AR GLASSES</title>
<meta charset="UTF-8">
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{%static 'ar_glasses/css/w3.css'%}">
{%include 'ar_glasses/style.html'%}
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <img src='{%static 'ar_glasses/img/logo.png'%}' height = 20% width= 30%></img>
  </div>
  <dive class = "right-bottom-corner">
    <center>
    {% block content %}
    {% endblock %}
  </center>
  </div>


</div>

</body>
</html>
